{# templates/crud_book/newB.html.twig #}

<html>
<head>
    <title>Ajouter un nouveau livre</title>
</head>
<body>
    <h1>Ajouter un nouveau livre</h1>

    {{ form_start(form) }}
        {{ form_row(form.ref) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.nbrPage) }}
        {{ form_row(form.picture) }}

        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_list_books') }}">Retour à la liste des livres</a>
</body>
</html>
